<div class="card-category">
  <h3><%= bookmark.movie.title %></h3>
  <%# <%=# bookmark.movie.overview %>
  <%# <%= bookmark.comment %>
  <%= link_to 'Delete',
      bookmark_path(bookmark),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
      %>
</div>
