<div class='container'>
  <div>
    <h1><%= @list.name %></h1>
  </div>

  <div>
    <% @list.bookmarks.each do |bookmark| %>
      <%= render 'lists/card', bookmark: bookmark %>
    <% end %>
  </div>

  <div>
    <%= link_to 'Add a film', new_list_bookmark_path(@list) %>
  </div>

  <div>
    <%= link_to 'Back to top', lists_path %>
  </div>
</div>
